*{
    overscroll-behavior: none;
}
body{
    background-color: black;
    color: white;
}
#backgroundimage{
    position: absolute;
    width: 100%;
    height:100%;
    opacity: 0.175;
}
#language{
    background-color: black;
    color:white;
    border-radius: 20px;
    width:100px;
    padding:5px;
    position: fixed;
    right:250px;
}
#netflixlogo{
    width: 400px;
    height:100px;
}
#signin{
    background-color: black;
    color:red;
    border-radius: 20px;
    padding:5px;
    width:100px;
    position: fixed;
    top:10px;
    right:125px;
}
.intro{
    margin-top: 200px;
}
#htext{
    text-align: center;
    font-size: 50px;
}
#hsubtext{
    text-align: center;
    font-size: 30px;
}
#subtext{
    text-align: center;
    font-size: 15px;
}
.submit{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5px;
}
#email{
    text-align: center;
    margin-left: 500px;
    height:50px;
    width:350px;
    opacity:50%;
    background-color: black;
    color: white;
    border-radius: 10px;
}
#getstarted{
    text-align: center;
    height:55px;
    width:200px;
    background-color: red;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    font-weight:100px;
}
.trending{
    margin-top:350px;
    margin-left:50px;
}
.shows{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6,1fr);
    border-radius: 20px;
    gap:1px;
}